$accent: #ff3100;

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: linen;
  overflow-x: hidden;
  position: relative;
  
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $accent;
}

nav {
  position: fixed;
  width: 100%;
  //border: 2px solid white;
  top: 0;
  background: black;
  z-index: 100;
  margin-bottom: 80px;
  height: 10vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin: 0 10px 0 10px;
    display: flex;
    height: 100%;
    img  {
      height: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      width: 100%;
      li {
        display: inline;
        margin: 10px;
      }
    }
  }
}

main {
  margin-top: 10vh;
  overflow: auto;
}

#center-nav {
  width: 100px;
}

#about {
  margin: 50px auto;
  height: 80vh;
  max-width: 800px;
  padding: 10px;
  padding-top: 10vh;
  position: relative;
  p {
    margin-bottom: 20px;
    line-height: 2em;
  }
}

#splash-wrapper {
  margin-top: 10vh;
  height: 80vh;
}

#splash {
  //margin: auto;
  height: 60vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url(media/images/splash.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 

}

#logo {
  z-index: 7000;
  max-width: 800px;
  min-width: 500px;
  width: 50%;
  @media only screen and (max-width: 600px) {
  }
  will-change: transform;
  svg {
    width: 100%;
  }
}

/*
@media only screen and (max-width: 1400px) {
  #logo {
    top: 30vh;
    width: 70vw;
    left: 15vw;
  }
}

@media only screen and (max-width: 1000px) {
  #logo {
    top: 35vh;
    width: 80vw;
    left: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    top: 40vh;
    width: 90vw;
    left: 5vw;
  }
}

*/


.empty {
  height: 100%;
  background: black;
}
.personal {
  width: 150px;
}
.poster {
  width: 400px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flex-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.flex-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 99vh;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20vh;
  .image-container {
    height: 100%;
    background: $accent;
    width: auto;
    margin: 10px;
    img {
      height: 100%;
      mix-blend-mode: multiply;
    }
  }
}

.image-container img:hover {
  mix-blend-mode: normal;
}

#container {
  overflow: hidden;
  footer {
    overflow: hidden;
    width: 100vw;
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
  }
}

.squiggle:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF3100' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10%;
  border-bottom: 0;
  padding-bottom: .9em;
}

#large:hover {
  background-size: 5%;
}

#heart, #newheart {
  color: $accent;
  position: relative;
  font-size: 1.5em;
  top: -3px;
  margin-left: 20px;
  cursor: pointer;
  
}

#newheart {
  display: none;
  color: black;
}
